{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dbcc8731b7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
    <title>ImageUploader</title>
</head>
<body>
    <div class="loader-container">
        <div class="spinner"></div>
    </div>
    <div class="main">
        <div class="one">
            <div class="two">
                <h2 id="p-one">Upload your image</h2>
                <h5 id="p-two">file should be png, jpeg...</h5>
            </div>
            <div class="form-one">
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="images">
                        <label for="inputTag">
                            <output></output>
                            <div class="imagepicture">
                                <i class="fa-sharp fa-solid fa-file-image fa-6x"></i>
                            </div>
                            <h3>Drag and Drop or Choose your image</h3>
                            <input name="pictures" id="inputTag" type="file" id="images">
                            <div class="inside-p">
                                <span id="imageName"></span>
                            </div>
                        </label>
                    </div>
                    
                    <div id="p-three">
                        <p>and</p>
                    </div>
                    <div><input onclick="LoaderFunction()" id="button" type="submit" value="Upload"></div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>